
.Home-container {
  color: white;
}

.Home-playlist-container {
  padding-top: 70px;
  padding-left: 20px;
}

.Home-playlist {
  list-style-type: none;
}

.Home-profile-image {
  height: 40px;
  width: 40px;
  border-radius: 100px;
}

.Home-playlist-image {
  height: 40px;
  width: 40px;
}

.Home-playlist-tracks {
  opacity: 0.4;
  font-size: 13px;
}

.Home-playlist-btn {
  font-size: 25px;
  opacity: 0.4;
  color: #FFFF;
}

.Home-search-btn {
  font-size: 25px;
}
